{% load staticfiles %}
<html>
<head>
    <title>Edit usuario</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<h3>Edit pasword</h3>

{% if messages %}
    <ul>
        {% for message in messages %}
         <li {% if message.tags %} class="message_{{message.tags}}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="ingreso">
</form>
</body>
</html>

